@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

header {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 2rem;
    color: white;
}


body {
    background-image: url('../assets/detail-background.jpg');
    color: white;
}

.about {
    font-family: 'UnifrakturMaguntia', cursive;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 3rem;
}

.country {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 70%;
    border-radius: 15%;
}

p {
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
}